.navbar-style {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: right;
  font-size: small;
}

nav a.active {
  font-size: 1.3rem;
  color: rgb(13, 69, 121);
  font-weight: bold;
}

.nav-link-item-style {
  margin: 0 8px;
}
