.nav-style {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: right;

  }

  nav a.active {
    font-size: 1rem;
    color: darkgreen;
    font-weight: bold;
  }

  .nav-li-style {
    margin: 0 10px;
  }