.meal-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff6ec;
  border: 1px solid rgb(193, 58, 13);
  border-left-color: rgb(119, 39, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width:min-content;
  background-image: url('/images/meal-card-background.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  box-shadow: 4px 5px 14px #55382e;
  width: 100%;
  user-select: none;
}

.special-offer-image {
  width: 80px;
  height: 80px;
  padding-top: 1%;
  padding-bottom: 0;
}
.meal-title {
  font-weight: bold;
  color: rgb(13, 69, 121);
  font-size:large;
  padding-top: 1%;
}

.meal-description {
  font-style: italic;
  color: rgb(108, 49, 0);
  padding-bottom: 4%;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  word-break:keep-all;
  padding-bottom: 5%;
}

.meal-price {
  font-size: 14px;
  padding-top: 3%;
  font-weight: bold;
}

.first-meal-image {
  width: 150px;
  height: 150px;
  border: 1px;
  border-radius: 5px;
  border-color: rgb(144, 52, 19);
  border-style: solid;
  margin: auto;
  /* Enlargement */
  top: -50px;
  left: -35px;
  display: flex;
  z-index: 999;
  cursor: pointer;
}

.first-meal-image:hover {
  transform: scale(1.5);
}

.see-meal-and-reservation-or-review-button {
  /* display:inline; */
  display: flex;
  word-break: normal;
  /* justify-content: space-around; */
  border-radius: 2%;
  border-width: 1px;
  border-color: rgb(112, 45, 0);
  border-radius: 6px;
  font-size: small;
  font: normal;
  font-style: normal;
  padding: 2%;
  margin: 4% auto 4% auto;
  background-color: rgb(255, 234, 215);
  /* background-image: url("images/meal-app-background.jpg");
  background-position: left; */
}
