.grid-container {                 /* //?????????????????   */
  display: grid;   /* //?????????????????   */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));   /* //?????????????????   */
  gap: 10px;   /* //?????????????????   */
}

.title-slogan {
  color: rgb(197, 59, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  display: flex;    /* //?????????????????   */
  justify-content: center;   /* //?????????????????   */
  text-wrap: wrap;   /* //?????????????????   */
  font-family: inherit;
}

.make-enlargement {
  font-size: 13px;
  color: rgb(0, 136, 82);
  font-weight: bold;
  word-wrap: break-word;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  font-family: inherit;
}
