.main-container {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.meal-with-all-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(144, 52, 19);
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  width: 25%;
  background-color: rgba(255, 255, 255, 80%);
  margin-right: 30px;
  margin-bottom: 20px;
}

.meal-title {
  color: #48751e;
  margin-bottom: 1px;
}

.meal-text-items {
  font-size: 13px;
  padding-top: 0;
}

.meal-image-inside-MealItemDetails {
  width: 160px;
  height: auto;
  border: 1px solid rgb(144, 52, 19);
  border-radius: 7px;
  box-shadow: 4px 5px 14px #855b4d;
}

.go-to-reviews-button {
  text-decoration: none;
  padding: 8px;
  word-break: normal;
  border-width: 1px;
  border-color: rgb(112, 45, 0);
  border-radius: 6px;
  font-size: 11px;
  background-color: rgb(247, 168, 65);
}

.no-reservation-availabele-message {
  font-size: 14px;
  font-weight: bold;
  color: rgb(184, 0, 0);
  margin-left: 60px;
}
