.meal-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgb(193, 58, 13);
  border-left-color: rgb(119, 39, 1);
  border-radius: 18px;
  box-shadow: 4px 5px 14px #55382e;
  background-color: #fff6ec;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12px;
}

.meal-title {
  font-weight: bold;
  color: #855b4d;
  font-size: medium;
  text-align: center;
}

.meal-description {
  text-align: center;
  color: rgb(108, 49, 0);
  padding-bottom: 4%;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5%;
}

.meal-price {
  font-size: 14px;
  padding-top: 3%;
  font-weight: bold;
}

.meal-image {
  width: 100px;
  height: auto;
  border: 1px;
  border-radius: 5px;
  border-color: rgb(144, 52, 19);
  border-style: solid;
  margin: auto;
  /* Enlargement */
  top: -50px;
  left: -35px;
  display: flex;
  z-index: 999;
  cursor: pointer;
}

.meal-image:hover {
  transform: scale(2.3);
}

.special-offer-image {
  width: 90px;
  position: absolute;
  margin-top: 50px;
}

.see-meal-and-reservation-or-review-button {
  display: flex;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(112, 45, 0);
  font-size: small;
  padding: 4px;
  margin: 4% auto 4% auto;
  background-color: rgb(255, 218, 185);
  text-decoration: none;
}
