.about-us-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 63%;
  padding: 30px;
  margin: 19px 10px 17px 100px;
  text-align: justify;
  border-radius: 8px;
  height: auto;
}

.about-us-title {
  color: rgb(78, 0, 0);
  font-family: cursive;
  font-weight: bolder;
  text-align: justify;
  font-size: 26px;
  margin: 2px 2px 2px 140px;
}

.about-us-text-container {
  padding: 10px 50px 10px 50px;
  background-color: rgba(255, 255, 255, 30%);
  border-radius: 11px;
  font-size: 14px;
  margin: 5px 2px 2px 2px;
  width: 80%;
}

p {
  color: rgb(29, 3, 0);
}

span {
  font-weight: bold;
}

.s1 {
  color: rgb(194, 52, 0);
}
.s2 {
  color: rgb(157, 0, 178);
}
.s3 {
  color: rgb(0, 135, 16);
}
.s4 {
  color: rgb(153, 0, 48);
}

a {
  text-decoration: none;
  font-weight: bold;
}
