.homepage-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; 
  height: 75vh;
  /* max-width: 100%;
  height: auto; */
}

.content-wrapper {
  /* Let this div grow to fill remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-right: 150px;
  max-width: 100%;
}

.homepage-title {
  color: rgb(78, 0, 0);
  font-family: cursive;
  font-weight: bolder;
  text-align: justify;
  font-size: 28px;
}

.homepage-texts-container {
  padding: 10px 140px 10px 60px;
  margin: 5px 2px 2px 2px;
  font-family: cursive;
}

.homepage-texts-container p {
  font-weight: bold;
  font-size: large;
  color: rgb(70, 21, 0);
}

.home-image-container img {
  width: 400px;
  max-width: 100%;
  border-radius: 7%;
  margin-left: 70px;
  margin-right: 30px;
}
