context-container {
display:flex;
justify-content: center;
align-items: center;   
/* // ??????? 3 ? 4? */
width: 60%;
}

.page-not-found-image {
    width:600px;
    height:300px;
}

.not-found-message {
    color: rgb(86, 88, 63);
}