.footer-container {
  background-color: #3c6100ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 0;
  margin-top: 26px;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  height: 70px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Change layout to column */
    justify-content: center; /* Center items vertically */
    padding-left: 10px;
    padding-right: 10px;
  }
}

.social-icons {
  padding-left: 25px;
}

.social-icons span {
  padding-right: 10px;
}

.social-icons a {
  color: #00422b;
  margin-right: 0px;
  transition: color 0.25s;
}

.social-icons a:hover {
  color: rgb(232, 88, 10);
}

.footer-site-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-site-links li {
  color: #ffff;
  display: inline;
  margin-right: 20px;
  font-weight: normal;
}

.footer-site-links li:last-child {
  margin-right: 0;
}

.footer-site-links li a {
  color: #ffff;
  text-decoration: none;
  font-weight: normal;
}

.footer-site-links li a:active {
  color: rgb(142, 38, 0);
}
.footer-site-links li a:hover {
  color: rgb(4, 77, 3);
}

.name-and-copyright {
  font-size: 12px;
  padding-right: 25px;
  color: #003c17;
  transition: color 0.25s;
}
